body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;

}
#title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
#top-section {
    width: inherit;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
    margin: 20px;
}

#prof-pic {
    width: 50vh;
    height: 50vh;
    border-radius: 100vh;
}



.flex-container {
    display: flex;
    /* flex-flow: column wrap; */
    gap: 20px;
}

#art{
    font-weight: bold;
    font-size: 34px;
    margin: 10px;
    padding:10px;
}

.flex-container2 {
    width: 100%;
    height: auto;
    margin: 20px; /* why isn't this applying to the webpage????*/
    /* display: flex; */
    /* flex-flow: row wrap; */
}

.flex-items {

}

.demo-image {
    width: 100%;
    margin-bottom: 5%;
}


